@model Category
@{
    ViewBag.Title = "AddCategory";
}

@using (Html.BeginForm())
{
<div class="panel panel-default">
    <div class="panel panel-body">
        <div>
            Kategori Ismi Giriniz
        </div>
        <div>
            @Html.TextBoxFor(x=> x.CategoryName)
        </div>
        <div>
            Kategori Aciklamasi Giriniz
        </div>
        <div>
            @Html.TextBoxFor(x=> x.Description)
        </div>
        <div>
            <button class="btn btn-primary">Kategori Ekle</button>
        </div>
    </div>
</div>
}

